{% extends 'customers/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    body{
        background-color:#F5F5F5;
        }
</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Customer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'customerhome' %}">Create Ticket</a>
      </li>
         <li class="nav-item">
        <a class="nav-link" href="{% url 'customerquery' %}">Tickets</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container text-center" id="panel" style="border:2px solid red;width:550px;margin-top:200px;background-color:#ffffff;">
        <div class="text-center">
            <strong style="font-size:30px;border-bottom:2px solid MediumSeaGreen;" >Mention your problem</strong>
        </div><br>
        <form method="post">
            {% csrf_token %}
            <div class="form-label-group">
                {{form|crispy}}
            </div>
             <button class="btn btn-outline-primary mb-4" type="submit">Send</button>
        </form>
    </div>
{% endblock %}