{% extends 'customers/base.html' %}
{% load static %}
{% block content %}
    <style>
        body{
        background-image:url('/static/customers/home.png');
        background-size: cover;
        background-repeat: no-repeat;

        }
    </style>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{% static 'customers/android-chrome-512x512.png' %}" width="50" height="30" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
             <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
             </li>
            {% if user.is_technician %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'technician' %}">Resolve Tickets</a>
                </li>
            {% elif user.is_customer %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'customerhome' %}">Create Tickets</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin' %}"> Assign Tickets</a>
                </li>
            {% endif %}

        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>

        {% endif %}
    </ul>
      <form class="form-inline my-2 my-lg-0" method="get" action="https://www.google.com/search" target="_blank">
          <input autocomplete="on" class="form-control search" name="q" placeholder="Google Search " required="required"  type="text">
          <button class="btn btn-outline-success my-2 my-sm-0 ml-1" type="submit"><i class="fa fa-search"></i></button>
      </form>
  </div>
</nav>
{% endblock %}